{% extends 'base.html.twig' %}

{% block body %}
    <v-app id="app">
        <v-container fluid fill-height>
            <v-layout
                    justify-center
                    align-center row wrap
            >
                <v-flex xs12 text-xs-center display-1>
                    Gestion des torrents
                    <v-btn v-on:click="synchroniseTrans" color="primary">Synchronise Transmission &nbsp;&nbsp;
                        <v-progress-circular  v-if="is_visible_load" indeterminate color="red"></v-progress-circular></v-btn>
                </v-flex>
                <v-flex xs12>
                <v-data-table
                        v-bind:headers="headers"
                        v-bind:items="items"
                        hide-actions
                        class="elevation-1"
                        v-bind:pagination.sync="pagination"
                >
                    <template slot="items" slot-scope="props">
                        <td>
                            <v-icon v-if="props.item.is_delete === 'N'" small color="primary" v-on:click="delete_transmission" v-bind:id=props.item.id_transmission>mdi-delete</v-icon>
                            <v-icon v-else small color="red" v-bind:id=props.item.id_transmission>mdi-delete</v-icon>
                            <v-icon v-if="props.item.is_delete === 'O'" small color="red" v-on:click="delete_table" v-bind:id=props.item.id_transmission>mdi-close</v-icon>
                        </td>
                        <td>${ props.item.name_torrent }</td>
                        <td class="text-xs-right">
                            <v-progress-circular
                                    v-bind:size=sizeProgress
                                    v-bind:width=widthProgress
                                    v-bind:rotate="280"
                                    v-bind:value=props.item.percent_trans
                                    color="green"
                            >
                                ${ props.item.percent_trans }
                            </v-progress-circular>
                        </td>
                        <td class="text-xs-right">
                            <v-progress-circular
                                    v-bind:size=sizeProgress
                                    v-bind:width=widthProgress
                                    v-bind:rotate="280"
                                    v-bind:value=props.item.percent_wget
                                    color="green"
                            >
                                ${ props.item.percent_wget }
                            </v-progress-circular>
                        </td>
                        <td class="text-xs-right">${ props.item.speed_wget }</td>
                        <td class="text-xs-right">${ props.item.time_left }</td>
                        <td class="text-xs-right">${ props.item.start_date }</td>
                    </template>
                    <template slot="no-data">
                        <v-progress-circular indeterminate color="primary" v-bind:size="50"></v-progress-circular>
                    </template>
                </v-data-table>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
{% endblock %}

{% block javascripts %}
    <script>
        var vue = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data () {
                return {
                    is_visible_load: false,
                    drawer: null,
                    pagination_rows_per: "all",
                    pagination: {
                        sortBy: 'start_date',
                        descending: true,
                        rowsPerPage: "100"
                    },
                    sizeProgress: 35,
                    widthProgress: 3,
                    interval: {},
                    headers: [
                        {text: '', value: 'action'},
                        {text: 'Nom du torrent', value: 'name_torrent', align: 'left'},
                        {text: 'Pourcentage Transmission', value: 'percent_trans'},
                        {text: 'Pourcentage Wget', value: 'percent_wget'},
                        {text: 'Speed', value: 'speed_wget'},
                        {text: 'Temps', value: 'time_left'},
                        {text: 'Date Début', value: 'start_date'}
                    ],
                    items: []
                }
            },
            mounted () {
                this.updateGrid();
                this.interval = setInterval(() => {
                    this.updateGrid();
                }, 2000)
            },
            methods: {
                delete_transmission: function (event) {
                    $.post( "/delete_torrent_transmission", {id_torrent: event.target.id});
                },
                delete_table: function (event) {
                    $.post( "/delete_torrent", {id_torrent: event.target.id});
                },
                updateGrid: function () {
                    $.get( "/content_table", function( data ) {
                        vue.items = data;
                    });
                },
                synchroniseTrans: function () {
                    this.is_visible_load = true;
                    $.get( "/check_torrent", function( data ) {
                        this.is_visible_load = false;
                    });
                }
            },
            props: {
                source: String
            }
        });
    </script>
{% endblock %}
